<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>首页</title>
<link rel="stylesheet" href="${res}/css/sm.min.css">
<link rel="stylesheet" href="${res}/css/sm-extend.min.css">
<link rel="stylesheet" href="${res}/css/global.css" />
</head>
<body ontouchstart>
  <div class="page-group">
    <header class="bar bar-nav">
      <span class="button button-nav pull-left">欢迎[#if user??]${user.username}[/#if]</span>
      <h1 class="title">技师注册</h1>
      <a href="${cp}/logout" class="button pull-right">注销</a>
    </header>
    <ul>
      <li>
        <a href="${cp}/wxbackstage/index">进入后台</a>
      </li>
      <li>
        <a href="${cp}/user/modifyPwd">修改密码</a>
      </li>
      <li>
        <a href="${cp}/service/appointment_1">预约</a>
      </li>
    </ul>
  </div>

  <script src="${res}/js/zepto.js"></script>
  <script src="${res}/js/global.js"></script>
</body>
</html>