<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>首页</title>
	<link rel="stylesheet" href="${res}/weui/css/weui.css"/>
	<link rel="stylesheet" href="${res}/css/global.css"/>
</head>
<body ontouchstart>
	<div class="container js_container">
		<div class="page">
			<div class="hd">
				<h1 class="page_title">技师注册</h1>
				<p class="page_desc">成为客户身边的贴身顾问</p>
			</div>
			<div class="bd">
				<div class="weui_cells weui_cells_access global_navs">
					<a class="weui_cell js_cell" href="javascript:;" data-id="button">
						<span class="weui_cell_hd"><img src="${res}/weui/images/icon_nav_button.png" class="icon_nav" alt=""></span>
						<div class="weui_cell_bd weui_cell_primary">
							<p>Button</p>
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell js_cell" href="javascript:;" data-id="cell">
						<span class="weui_cell_hd"><img src="${res}/weui/images/icon_nav_cell.png" class="icon_nav" alt=""></span>
						<div class="weui_cell_bd weui_cell_primary">
							<p>Cell</p>
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell js_cell" href="javascript:;" data-id="toast">
						<span class="weui_cell_hd"><img src="${res}/weui/images/icon_nav_toast.png" class="icon_nav" alt=""></span>
						<div class="weui_cell_bd weui_cell_primary">
							<p>Toast</p>
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell js_cell" href="javascript:;" data-id="dialog">
						<span class="weui_cell_hd"><img src="${res}/weui/images/icon_nav_dialog.png" class="icon_nav" alt=""></span>
						<div class="weui_cell_bd weui_cell_primary">
							<p>Dialog</p>
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell js_cell" href="javascript:;" data-id="msg">
						<span class="weui_cell_hd"><img src="${res}/weui/images/icon_nav_msg.png" class="icon_nav" alt=""></span>
						<div class="weui_cell_bd weui_cell_primary">
							<p>Msg Page</p>
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell js_cell" href="javascript:;" data-id="article">
						<span class="weui_cell_hd"><img src="${res}/weui/images/icon_nav_article.png" class="icon_nav" alt=""></span>
						<div class="weui_cell_bd weui_cell_primary">
							<p>Article Page</p>
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
					<a class="weui_cell js_cell" href="javascript:;" data-id="icons">
						<span class="weui_cell_hd"><img src="${res}/weui/images/icon_nav_icons.png" class="icon_nav" alt=""></span>
						<div class="weui_cell_bd weui_cell_primary">
							<p>Icons</p>
						</div>
						<div class="weui_cell_ft">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	[#include "common/weui_tpl/button.html"/>
	[#include "common/weui_tpl/cell.html"/]
	[#include "common/weui_tpl/toast.html"/]
	[#include "common/weui_tpl/dialog.html"/]
	[#include "common/weui_tpl/msg.html"/]
	[#include "common/weui_tpl/article.html"/]
	[#include "common/weui_tpl/icons.html"/]
	
	<script src="https://res.wx.qq.com/open/libs/zepto/1.1.6/zepto.js"></script>
	<script src="${res}/js/global.js"></script>
</body>
</html>