<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>修改密码</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

</head>
<body>
  <div class="page-group">
    <div class="page page-current">
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" href="${cp}" data-transition='slide-out'>
          <span class="icon icon-left"></span>
          返回
        </a>
        <h1 class="title">修改密码</h1>
      </header>
      <div class="content">
        <form id="modifyPwd" method="post">
          <div class="list-block">
            <ul>
              <!-- Text inputs -->
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="icon icon-form-name"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">旧密码</div>
                    <div class="item-input">
                      <input type="text" name="oldpwd" placeholder="请输入原来的密码" class="oldpwd">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="icon icon-form-password"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">设置密码</div>
                    <div class="item-input">
                      <input type="password" name="newpwd" placeholder="请输入新密码" class="newpwd">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="icon icon-form-password"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">重复密码</div>
                    <div class="item-input">
                      <input type="password" name="pwdrepeat" placeholder="请再次输入新密码" class="pwdrepeat">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="icon icon-form-gender"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">性别</div>
                    <div class="item-input">
                      <select>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                </div>
              </li>
              <!-- Date -->
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="icon icon-form-calendar"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">生日</div>
                    <div class="item-input">
                      <input type="date" placeholder="Birth day" value="2014-04-30">
                    </div>
                  </div>
                </div>
              </li>
              <!-- Switch (Checkbox) -->
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="icon icon-form-toggle"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">开关</div>
                    <div class="item-input">
                      <label class="label-switch"> <input type="checkbox">
                        <div class="checkbox"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </li>
              <li class="align-top">
                <div class="item-content">
                  <div class="item-media">
                    <i class="icon icon-form-comment"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">文本域</div>
                    <div class="item-input">
                      <textarea></textarea>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <div class="row">
              <div class="col-50">
                <a href="#" class="button button-big button-fill button-danger">取消</a>
              </div>
              <div class="col-50">
                <a href="javascript:void(0)" class="button button-big button-fill button-success submit_btn">提交</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type="text/javascript">
	$(function() {
		$("newpwd,.pwdrepeat").on("blur", function() {
			if ($.trim($(this).val()) != "") {
				$.ajax({
					type : 'POST',
					url : '${cp}/user/validNewPwd',
					// post payload:
					data : $("#modifyPwd").serializeArray(),
					dataType:'json',
					success : function(result){
						if(result.success){
							console.log("没毛病")
						}else{
							alert(result.message);
						}
					}
				})
			}
		});
		$(".oldpwd").on("blur", function() {
			if ($.trim($(this).val()) != "") {
				$.ajax({
					type : 'POST',
					url : '${cp}/user/validOldPwd.json',
					// post payload:
					data : $("#modifyPwd").serializeArray(),
					dataType:'json',
					success : function(result){
						if(result.success){
							console.log("没毛病")
						}else{
							alert(result.message);
						}
					}
				})
			}
		});
		
		$(".submit_btn").on("click", function() {
			$.ajax({
				type : 'POST',
				url : '${cp}/user/doModify.json',
				// post payload:
				data : $("#modifyPwd").serializeArray(),
				dataType:'json',
				success : function(result){
					if(result.success){
						console.log("没毛病")
					}else{
						alert(result.message);
					}
				}
			})
		});
	});
	</script>
</body>
</html>