<nav class="bar bar-tab">
  <a class="tab-item external" href="${cp}/">
    <span class="icon icon-home"></span>
    <span class="tab-label">首页</span>
  </a>
  <a class="tab-item external" href="${cp}/ask">
    <span class="icon icon-message"></span>
    <span class="tab-label">问大家</span>
  </a>
  [@user_type code=user.type type='carowner']
  <a class="tab-item external active" href="${cp}/user/carowner/my">
    <span class="icon icon-me"></span>
    <span class="tab-label">我的</span>
    <!-- <span class="badge">2</span>  -->
  </a>
  [/@user_type]
</nav>