@charset "utf-8";

.fd_color_d94d4c {
	color: #d94d4c !important;
	font: bold 16px/33px "microsoft yahei" !important;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.absolute.more{
	right: 40px;
	bottom: 10px;
	display: block;
}
.list-block .item-text.expand{
	-webkit-line-clamp:inherit;
	height: auto;
}
.pr-50{
	padding-right: 50px;
}
.right_but_area{
	height:100%;
	line-height: 2.2rem;
	float: right;
}
.right_but_area a,.right_but_area a:ACTIVE,.right_but_area a:VISITED{
	color:#fff;
	background: #0965e1;
	padding: 0.2rem 1rem;
}

/*--weui 修改--------------*/
.weui-label{
	padding-left: 5px;
}