@charset "utf-8";

.icon {
	fill: currentColor;
	overflow: hidden;
}

.list-block {
	margin: 0 0;
}
.txt-align-left{
	text-align: left;
}
/*--weui 修改--------------*/
.weui-label {
	padding-left: 5px;
}
/*--SM.css修改-----------------*/
.btn_in_form {
	margin: .15rem 0;
}

.button em {
	font-style: normal;
}

.my .my_btn {
	padding-left: 10px;
}

.profile .avatar, .profile .avatar_info {
	width: 50%;
	height: 3rem;
	float: left;
}

.profile .avatar img {
	border: 0;
	width: 3rem;
	margin: 0 auto;
	display: block;
}

.profile .avatar_info span {
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
	display: block;
}

.profile .list-block {
	margin: 0rem;
}

.profile .list-block .item-link {
	width: 100%;
	line-height: 1.5rem;
}

.profile .list-block .item-link .item-inner {
	padding-top: 0px;
	padding-bottom: 0px;
}

.profile .list-block .item-link .item-inner:after {
	background: none;
}

.profile .icon-list .icon,.profile .icon-list .iconfont {
	color: #0894ec;
}