@charset "utf-8";

.fd_color_d94d4c {
	color: #d94d4c !important;
	font: bold 16px/33px "microsoft yahei" !important;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.absolute.more{
	right: 40px;
	bottom: 10px;
	display: block;
}
.list-block .item-text.expand{
	-webkit-line-clamp:inherit;
	height: auto;
}
.pr-50{
	padding-right: 50px;
}