<div class="page-group">
  <div class="page page-current" id="config">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left" href="${cp}/user/carowner/my">
        <span class="icon icon-left"></span>返回
      </a>
      <h1 class="title">服务标准</h1>
    </header>
    <div class="content">
      <div class="content-padded">
        <h1>服务条款</h1>
        <p>
甲方：车主<br>
乙方：车在行<br>
甲、乙本着平等互利的原则通过友好协商，就乙方向甲方提供汽车维修、保养服务事宜，达成如下协议：<br>
1、甲方同意选定乙方为甲方车辆（另附：车型和牌号）维修服务定点，乙方亦愿意为送修的甲方车辆提供优质服务。<br>
2、甲方车辆在乙方维修时，享有在江苏省一类维修企业统一价格：        ∕工时，同时乙方必须供应正厂零件。<br>
3、车修好后，甲方相关负责人和驾驶员（另附：负责人和驾驶员名单）确认修车费用，并验车及在结算清单签字确认认可。<br>
4、汽车维修前，甲方负责汽车维修的相关管理部门将根据需要维修的项目或零部件要求乙方进行书面报价（如传真或打印件），乙方必须给予积极配合。<br>
甲方已向乙方提供维修、保养的车辆名录中产生的维修费用可获月结优惠，即可在签妥结算清单后提车；乙方必须   月6号前将甲方上月产生的维修费用清单及发票提供予甲方，甲方在收到乙方的结算清单及发票后5个工作日内付清维修款。<br>
5、每次车辆维修，乙方将按照甲方的要求及实际检测的结果编写机修报告，列明维修项目、估算维修工时费、材料费，由甲方负责人或驾驶员签字或电话确认后才能施工；如在维修过程中增减维修项目小于之前甲方已确认所需维修费用的15%，乙方可先施工后通知甲方，如增减维修项目大于之前甲方确认所需维修费用的15%，乙方应用书面的形式或电话及时通知甲方，待甲方用书面形式或电话确认回复后方可施工。<br>
6、乙方优先安排甲方车辆维修，如有必要可上门维修或加班，可拔打乙方维修急救热线       ，乙方不收取任何服务费用及加班费；每3个月乙方为甲方的车辆提供免费的检测服务。<br>
7、乙方对甲方提供优质的汽车维修服务，确保质量。乙方为甲方车辆维修的项目，享有由提车起计三个月（或三个月内首先达到三仟公里车程的使用时间）的保修期。保修期内，乙方负责免费返修相关项目，并免费更换保质期内不合格零配件（损耗件则按时间、损耗比例酌情收费）。但乙方将不负责返修因操作错误、意外或其它外在原因造成的损坏。<br>
8、甲方的司机或相关办事人员不得向乙方索取金钱、购物劵或其它贵重物品；同样乙方不得变相向甲方司机或相关的工作人员采用赠送或其他途径贿赂。<br>
9、本合同受中国法律制约在执行合同过程中出现的任何分歧，双方都应通过友好协商的方式解决，经过友好协商后仍然无法解决，应提请原告地方人民法院审理。<br>
10、本合同自双方负责人或委托代理人签字之日起生效，如需终止或其他变化，终止方或改变方需书面或传真形式告知对方，否则本协议将长期有效<br>
        </p>
      </div>
    </div>
    [#include '../common/bottom.html' /]
  </div>
</div>