<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.server.dao.TbCategoryMapper">
  <resultMap id="BaseResultMap" type="com.wx.server.entity.TbCategory">
    <id column="ctg_id" jdbcType="INTEGER" property="ctgId" />
    <result column="ctg_name" jdbcType="VARCHAR" property="ctgName" />
    <result column="ctg_img" jdbcType="VARCHAR" property="ctgImg" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ctg_id, ctg_name, ctg_img, status, sort
  </sql>
  <select id="selectByExample" parameterType="com.wx.server.entity.TbCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null">
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_category
    where ctg_id = #{ctgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_category
    where ctg_id = #{ctgId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wx.server.entity.TbCategoryExample">
    delete from tb_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wx.server.entity.TbCategory">
    insert into tb_category (ctg_id, ctg_name, ctg_img, 
      status, sort)
    values (#{ctgId,jdbcType=INTEGER}, #{ctgName,jdbcType=VARCHAR}, #{ctgImg,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wx.server.entity.TbCategory">
    insert into tb_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ctgId != null">
        ctg_id,
      </if>
      <if test="ctgName != null">
        ctg_name,
      </if>
      <if test="ctgImg != null">
        ctg_img,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ctgId != null">
        #{ctgId,jdbcType=INTEGER},
      </if>
      <if test="ctgName != null">
        #{ctgName,jdbcType=VARCHAR},
      </if>
      <if test="ctgImg != null">
        #{ctgImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_category
    <set>
      <if test="record.ctgId != null">
        ctg_id = #{record.ctgId,jdbcType=INTEGER},
      </if>
      <if test="record.ctgName != null">
        ctg_name = #{record.ctgName,jdbcType=VARCHAR},
      </if>
      <if test="record.ctgImg != null">
        ctg_img = #{record.ctgImg,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_category
    set ctg_id = #{record.ctgId,jdbcType=INTEGER},
      ctg_name = #{record.ctgName,jdbcType=VARCHAR},
      ctg_img = #{record.ctgImg,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wx.server.entity.TbCategory">
    update tb_category
    <set>
      <if test="ctgName != null">
        ctg_name = #{ctgName,jdbcType=VARCHAR},
      </if>
      <if test="ctgImg != null">
        ctg_img = #{ctgImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where ctg_id = #{ctgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wx.server.entity.TbCategory">
    update tb_category
    set ctg_name = #{ctgName,jdbcType=VARCHAR},
      ctg_img = #{ctgImg,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where ctg_id = #{ctgId,jdbcType=INTEGER}
  </update>
</mapper>